In [3]:
import pandas as pd

In [4]:
train = pd.read_csv('train.csv')

In [5]:
train.head()

,Unnamed: 0,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,...,Q041,Q042,Q043,Q044,Q045,Q046,Q047,Q048,Q049,Q050
0,1,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,2016,4314902,Porto Alegre,43,RS,24,M,0.0,...,5.0,A,A,A,A,A,A,A,B,D
1,2,2c3acac4b33ec2b195d77e7c04a2d75727fad723,2016,2304707,Granja,23,CE,17,F,0.0,...,NaN,A,A,C,A,B,A,A,C,A
2,3,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,2016,2304400,Fortaleza,23,CE,21,F,0.0,...,NaN,A,A,A,A,C,A,A,B,A
3,4,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,2016,3304557,Rio de Janeiro,33,RJ,25,F,0.0,...,5.0,C,A,A,A,A,D,A,A,A
4,5,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,2016,1302603,Manaus,13,AM,28,M,0.0,...,NaN,A,A,A,A,A,A,A,A,A

In [6]:
list(train)

['Unnamed: 0',
 'NU_INSCRICAO',
 'NU_ANO',
 'CO_MUNICIPIO_RESIDENCIA',
 'NO_MUNICIPIO_RESIDENCIA',
 'CO_UF_RESIDENCIA',
 'SG_UF_RESIDENCIA',
 'NU_IDADE',
 'TP_SEXO',
 'TP_ESTADO_CIVIL',
 'TP_COR_RACA',
 'TP_NACIONALIDADE',
 'CO_MUNICIPIO_NASCIMENTO',
 'NO_MUNICIPIO_NASCIMENTO',
 'CO_UF_NASCIMENTO',
 'SG_UF_NASCIMENTO',
 'TP_ST_CONCLUSAO',
 'TP_ANO_CONCLUIU',
 'TP_ESCOLA',
 'TP_ENSINO',
 'IN_TREINEIRO',
 'CO_ESCOLA',
 'CO_MUNICIPIO_ESC',
 'NO_MUNICIPIO_ESC',
 'CO_UF_ESC',
 'SG_UF_ESC',
 'TP_DEPENDENCIA_ADM_ESC',
 'TP_LOCALIZACAO_ESC',
 'TP_SIT_FUNC_ESC',
 'IN_BAIXA_VISAO',
 'IN_CEGUEIRA',
 'IN_SURDEZ',
 'IN_DEFICIENCIA_AUDITIVA',
 'IN_SURDO_CEGUEIRA',
 'IN_DEFICIENCIA_FISICA',
 'IN_DEFICIENCIA_MENTAL',
 'IN_DEFICIT_ATENCAO',
 'IN_DISLEXIA',
 'IN_DISCALCULIA',
 'IN_AUTISMO',
 'IN_VISAO_MONOCULAR',
 'IN_OUTRA_DEF',
 'IN_SABATISTA',
 'IN_GESTANTE',
 'IN_LACTANTE',
 'IN_IDOSO',
 'IN_ESTUDA_CLASSE_HOSPITALAR',
 'IN_SEM_RECURSO',
 'IN_BRAILLE',
 'IN_AMPLIADA_24',
 'IN_AMPLIADA_18',
 'IN_LEDOR',
 'IN_ACESSO',
 'IN_TRANSCRICAO',
 'IN_LIBRAS',
 'IN_LEITURA_LABIAL',
 'IN_MESA_CADEIRA_RODAS',
 'IN_MESA_CADEIRA_SEPARADA',
 'IN_APOIO_PERNA',
 'IN_GUIA_INTERPRETE',
 'IN_MACA',
 'IN_COMPUTADOR',
 'IN_CADEIRA_ESPECIAL',
 'IN_CADEIRA_CANHOTO',
 'IN_CADEIRA_ACOLCHOADA',
 'IN_PROVA_DEITADO',
 'IN_MOBILIARIO_OBESO',
 'IN_LAMINA_OVERLAY',
 'IN_PROTETOR_AURICULAR',
 'IN_MEDIDOR_GLICOSE',
 'IN_MAQUINA_BRAILE',
 'IN_SOROBAN',
 'IN_MARCA_PASSO',
 'IN_SONDA',
 'IN_MEDICAMENTOS',
 'IN_SALA_INDIVIDUAL',
 'IN_SALA_ESPECIAL',
 'IN_SALA_ACOMPANHANTE',
 'IN_MOBILIARIO_ESPECIFICO',
 'IN_MATERIAL_ESPECIFICO',
 'IN_NOME_SOCIAL',
 'IN_CERTIFICADO',
 'NO_ENTIDADE_CERTIFICACAO',
 'CO_UF_ENTIDADE_CERTIFICACAO',
 'SG_UF_ENTIDADE_CERTIFICACAO',
 'CO_MUNICIPIO_PROVA',
 'NO_MUNICIPIO_PROVA',
 'CO_UF_PROVA',
 'SG_UF_PROVA',
 'TP_PRESENCA_CN',
 'TP_PRESENCA_CH',
 'TP_PRESENCA_LC',
 'TP_PRESENCA_MT',
 'CO_PROVA_CN',
 'CO_PROVA_CH',
 'CO_PROVA_LC',
 'CO_PROVA_MT',
 'NU_NOTA_CN',
 'NU_NOTA_CH',
 'NU_NOTA_LC',
 'NU_NOTA_MT',
 'TX_RESPOSTAS_CN',
 'TX_RESPOSTAS_CH',
 'TX_RESPOSTAS_LC',
 'TX_RESPOSTAS_MT',
 'TP_LINGUA',
 'TX_GABARITO_CN',
 'TX_GABARITO_CH',
 'TX_GABARITO_LC',
 'TX_GABARITO_MT',
 'TP_STATUS_REDACAO',
 'NU_NOTA_COMP1',
 'NU_NOTA_COMP2',
 'NU_NOTA_COMP3',
 'NU_NOTA_COMP4',
 'NU_NOTA_COMP5',
 'NU_NOTA_REDACAO',
 'Q001',
 'Q002',
 'Q003',
 'Q004',
 'Q005',
 'Q006',
 'Q007',
 'Q008',
 'Q009',
 'Q010',
 'Q011',
 'Q012',
 'Q013',
 'Q014',
 'Q015',
 'Q016',
 'Q017',
 'Q018',
 'Q019',
 'Q020',
 'Q021',
 'Q022',
 'Q023',
 'Q024',
 'Q025',
 'Q026',
 'Q027',
 'Q028',
 'Q029',
 'Q030',
 'Q031',
 'Q032',
 'Q033',
 'Q034',
 'Q035',
 'Q036',
 'Q037',
 'Q038',
 'Q039',
 'Q040',
 'Q041',
 'Q042',
 'Q043',
 'Q044',
 'Q045',
 'Q046',
 'Q047',
 'Q048',
 'Q049',
 'Q050']

In [7]:
df_notas = train[['NU_INSCRICAO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']]

In [9]:
df_notas_2 = train.loc[:,('NU_INSCRICAO', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO')]

In [10]:
df_notas_2.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,399.4,520.0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,459.8,580.0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN,NaN

In [8]:
df_notas.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,399.4,520.0
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,459.8,580.0
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN,NaN

In [11]:
df_notas['NOTA_FINAL'] = (df_notas['NU_NOTA_MT']*3 + df_notas['NU_NOTA_CN']*2 + df_notas['NU_NOTA_LC']*1.5 + 
df_notas['NU_NOTA_CH']*1 + df_notas['NU_NOTA_REDACAO']*3) / 10.5

C:\Users\m113624\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [12]:
df_notas.head()

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,NOTA_FINAL
0,ed50e8aaa58e7a806c337585efee9ca41f1eb1ad,436.3,495.4,581.2,399.4,520.0,476.000000
1,2c3acac4b33ec2b195d77e7c04a2d75727fad723,474.5,544.1,599.0,459.8,580.0,524.857143
2,f4545f8ccb9ff5c8aad7d32951b3f251a26e6568,NaN,NaN,NaN,NaN,NaN,NaN
3,3d6ec248fef899c414e77f82d5c6d2bffbeaf7fe,NaN,NaN,NaN,NaN,NaN,NaN
4,bf896ac8d3ecadd6dba1dfbf50110afcbf5d3268,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
df_notas = df_notas.sort_values(by = 'NOTA_FINAL', ascending=False)

In [22]:
df_notas

,NU_INSCRICAO,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO,NOTA_FINAL
10801,848daf808904864c1ee5d51545a2539e2dcbe901,744.2,670.3,646.7,916.6,960.0,834.147619
3226,97166da67df0908861a868cf318b277c4bdbb0da,735.9,782.1,718.5,868.2,920.0,828.214286
3682,b733ccac4e5b7c1da0448f1dad7990ec0793b1d2,764.6,689.0,707.6,935.1,840.0,819.514286
9011,78ca18b6fea7ccd3e067b3945cf200f8686209a7,772.3,725.7,678.8,784.5,980.0,817.333333
4755,8588b01c2ff81ad3c9ff31cd89fc094896c4aa69,757.7,748.7,672.1,817.1,940.0,813.671429
12707,19982f867b8f23a829a2f738374770708ec7f263,758.5,673.1,677.3,826.1,940.0,809.938095
6039,17ae668ce9041105883e9db101d614f58d526f66,760.2,726.5,662.0,811.0,940.0,808.847619
10219,3326c76719930f9838bc9ef803fe1b73a1668723,698.6,712.6,669.8,836.9,940.0,804.304762
1509,41489fd85a5d0cb6e397fb5ebcd19d32e9265cb7,702.7,807.0,665.3,819.8,920.0,802.833333
3535,32767c1a152919a1f72fa91afe19bb7c559f2824,722.1,767.2,693.4,838.8,880.0,800.752381
11334,ac5057ba1f029c2c37bc55c82f3ea3e4b8bcb0ce,712.6,711.2,678.3,786.4,960.0,799.338095
10951,7c7c16a3ebd04e3b4a42e086a447a64fc6fa0996,714.6,761.3,665.9,739.3,980.0,794.976190
9602,e9a67323f3cce292a7fd1528311470edb38f82d9,691.9,764.6,674.9,782.6,940.0,793.195238
4564,9eaa35afce755aeef24faee5ec0e78612f52b56c,806.4,709.5,712.2,895.5,740.0,790.200000
5913,c0bb9d9a29e686a5ef35f2443738d4bd8544a290,686.4,628.4,681.5,952.0,800.0,788.519048
3792,c771c44232f6ae553494cf7085f2b3e515841133,714.9,702.9,700.5,776.2,920.0,787.814286
499,4c29d5913f759e503efae77c531a713d48dfb512,682.5,696.2,634.9,791.1,960.0,787.319048
13191,61f38d59bbcfa4897a2e14740bec95e087e2e06f,748.6,758.6,653.4,893.6,780.0,786.352381
3080,b8912a162392742129d79ff0c625cfc02a425811,715.1,661.6,711.6,768.8,920.0,783.390476
10387,05a0ee9c17758662d1e5a985cac6d7e0938d3a58,645.8,738.6,763.6,878.2,800.0,781.923810
3980,2e60116bc694c0274ac6e6c16a4d8cdd13ab374b,667.2,663.6,648.9,823.9,920.0,781.242857
13286,c4d86b43c101ce1e6e7a5fcf38972eb90b566e5a,733.8,704.7,670.0,812.1,860.0,780.342857
9409,9ec18858218c5520c1bf8da242212ecf041eb609,677.7,719.2,622.5,788.0,940.0,780.223810
11262,525a9b49d235d13c18f33d2358dd129a9aac3d5b,749.2,678.1,621.6,812.2,880.0,779.571429
2672,7b9eb8952944a561b8433ab613111abeb3879e4e,680.1,647.3,653.3,831.4,900.0,779.204762
11673,41ff58cf0d26b5a303585b6eb06608cdcc29547e,728.2,707.6,680.9,822.4,840.0,778.338095
10226,1d170361790f3db232fb25078c7d59b2e6bcd559,675.1,745.9,709.6,749.0,920.0,777.857143
5195,3a1e5efd2a12ec2110dd25bbe01809501acb172e,692.3,667.7,646.3,833.9,880.0,777.471429
11228,288ef3d662c3c678a0c7fb995477e072f2c8940e,695.6,692.0,700.6,752.3,920.0,776.285714
9783,f5713e6b56c1e1760b3aa3de4583b3f76ba68f19,688.9,674.6,613.4,803.6,920.0,775.552381
...,...,...,...,...,...,...,...
13635,60d08a794fda57b3a2611ad2536bb636d1a5bc3b,NaN,NaN,NaN,NaN,NaN,NaN
13636,cfc8b2ce6593edf3fb3ff207edb54b0f573e96c3,NaN,NaN,NaN,NaN,NaN,NaN
13643,4c5e6da616a7f82e558e3d468aa3199d1cc59ffb,NaN,NaN,NaN,NaN,NaN,NaN
13644,7792bdd1d5e9c6476e6859e9839545fee7939bd4,NaN,NaN,NaN,NaN,NaN,NaN
13645,ae2be52fbacdd131c243055997bfa4ccd79028da,NaN,NaN,NaN,NaN,NaN,NaN
13650,b36911c088f4a089357a777abb8b306aee977dc7,NaN,NaN,NaN,NaN,NaN,NaN
13661,a5c00864b826a08f83df7af1575e3130ae3962ff,NaN,NaN,NaN,NaN,NaN,NaN
13662,18da80ee63f4c00521d162c1b3457ecec056d3ac,NaN,NaN,NaN,NaN,NaN,NaN
13668,22a7ee8520267ed8db586729149bf3d3fe77934c,NaN,NaN,NaN,NaN,NaN,NaN
13669,6f57d8e20747c90f1fd4428c9f196c46a60250fd,NaN,NaN,NaN,NaN,NaN,NaN
13671,d132200158e1c818ea52a6ffa84812e51fd882ca,NaN,NaN,NaN,NaN,NaN,NaN
13672,0b16a4b0c11e5b32c72f3f0b5dde478892f67273,NaN,NaN,NaN,NaN,NaN,NaN
13674,16c742e7d88b5c362d393b0ffcd1fd09d3901e60,447.6,577.2,NaN,NaN,NaN,NaN
13675,6a95d6207c77a165c93292e5238b65a1f2508f84,NaN,NaN,NaN,NaN,NaN,NaN
13676,35d0f4f73f01934bf1a58d0fd61f78a46f14f4d6,NaN,NaN,NaN,NaN,NaN,NaN
13677,25291a732ccb3fea2b289fc41a5bfbc76ba39e64,NaN,NaN,NaN,NaN,NaN,NaN
13681,7b8468f2def4bf791aa6fb84cdb43001a39ca9d4,NaN,NaN,NaN,NaN,NaN,NaN
13682,11f8035339a74b9fd169d5bc7c81dc9a56c56a6c,NaN,NaN,NaN,NaN,NaN,NaN
13686,65326588d0055a49276720c17ea8575359f2088f,NaN,NaN,NaN,NaN,NaN,NaN
13687,c2f58a7b16dc9d798d57dc60f94bf39184a2ef38,NaN,NaN,NaN,NaN,NaN,NaN
13689,71cd9bd5c506498d255f9fbd23d4c3fed1703379,NaN,NaN,NaN,NaN,NaN,NaN
13697,dfaf1e6c9069cad1638122454f8de7b525917f8c,NaN,NaN,NaN,NaN,NaN,NaN
13698,daa39a9924ca541031435ff1e1dabc774251cc2c,NaN,NaN,NaN,NaN,NaN,NaN
13708,1ba84897d0d10c9dbe186252e23b3933f7d6d1c6,NaN,NaN,NaN,NaN,NaN,NaN
13709,f59008734018aa5d15229f071225919ae4f69360,405.7,604.0,NaN,NaN,NaN,NaN
13711,bc6ea97fcc031786198e58ca5485d2648a2145fb,NaN,NaN,NaN,NaN,NaN,NaN
13713,e60cbd0026dae31e4f0580a909465c83355ea282,NaN,NaN,NaN,NaN,NaN,NaN
13715,99cfec493fefde4fcec60fd8c1e3eb1fe891fb31,NaN,NaN,NaN,NaN,NaN,NaN
13716,00bb288d1b225bf07136b1d6e5a20a0fa7f7e2a9,NaN,NaN,NaN,NaN,NaN,NaN
13722,a78cd7c85a7ed2a29190ed3e40a8cf8dad2d7335,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
df_notas_final = df_notas[['NU_INSCRICAO', 'NOTA_FINAL']]

In [35]:
df_notas_final[:20].to_csv('answer.csv', index=False)